* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1340px;
  margin: 100px auto;
  padding: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.justify-content-center {
  justify-content: center;
}

.col-12 {
  width: 100%;
  padding: 0 16px;
}

.col-8 {
  width: 66.64%;
}